/* import font  */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Global classes */
.centred {
  text-align: center;
}

body {
  /* margin: 0 auto; */
  background-color: #3A3935;
  font-family: 'Space Mono', monospace;;
}

.container {
  display: block;
  margin: 0 auto;
}
.card {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  background-color: #1B1B1B;
  border: 2px solid #040404;
  border-radius: 5px;
}
.picture {
  width: 200px;
  margin: 20px auto;
  transition: 3s;
  border-radius: 50%;
}
.picture:hover {
  filter: drop-shadow(1px 1px 25px #901644) hue-rotate(360deg);
}

.title-name, .title-job, .description {
  color: #F5F5F5;
}
.title-name, .title-job {
  text-shadow: 5px 5px #901644;
}
.description {
  width: 80%;
  margin: 0 auto;
  text-shadow: 2px 2px #74104D;
  line-height: 1.5;
}
.btn {
  display: block;
  width: 120px;
  padding: 10px 5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #1B1B1B , #040404);
  border: 2px solid #74104D;
  margin: 20px auto;
  color: #F5F5F5;
  text-decoration: none;
  transition: 0.5s;
}
.btn:hover {
  background-image: linear-gradient(to right, #901644 , #74104D);
  border: 6px solid #660000;
  color: #040404;
  padding: 6px 2px;
}
.social-link {
  text-decoration: none;
  color: #F5F5F5;
  font-size: 32px;
  transition: 1s
}
.social-link:hover {
  color: #74104D
}

ul {
  list-style: none;
  padding-left: 0;
}
li {
  display: inline-block;
  margin: 10px;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
  .card {
    width: 70%;
  }
}


@media (max-width: 720px) {
  .container {
    width: 600px;
  }
  .card {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .container {
    width: 400px;
  }
  .card {
    width: 90%;
  }

}

/* animation for background */


/* Animation button */
.btn-animated {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.icone {
  font-size: 200px;
  text-align: center;
}
