.screen-row {
  height: 100vh;
}

.left {
  height: 100%;

}

.profile-block {

}
.profile-img img {
  border-radius: 50%;
}
.social-block {


}

.right {
  height: 100%;
  overflow-y: scroll;
}

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
